<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="">
              <div class="d-flex justify-content-center bg-primary" style="height: 5rem">
                <img alt="logo" src="assets/brand/logo/Favicon%20Bright%20Green%20Backer.png"/>
              </div>
              <div class="mt-5" style="max-width: 25rem; margin: 0 auto">
                <ng-container [ngSwitch]="currentStep$ | async">
                  <!-- Start forgotPasswordForm -->
                  <form [formGroup]="forgotPasswordForm" *ngSwitchCase="'forgotPasswordForm'" class="card bg-default" style="padding: 1rem">
                    <div class="card-header text-center">
                      <h4 class="text-white">Forgot Password</h4>
                      <div class="text-white">Please enter your username. We will send a password reset link to the email associated with this account.</div>
                    </div>
                    <div class="mb-3 mt-3">
                      <input type="text" class="form-control" formControlName="username" placeholder="Username" autocomplete="username">
                    </div>
                  </form>
                  <!-- End forgotPasswordForm -->
                </ng-container>
                <ng-container [ngSwitch]="currentStep$ | async">
                  <!-- Start forgotPasswordForm -->
                  <div *ngSwitchCase="'forgotPasswordForm'">
                    <hr style="border-radius: 3px; border-top: 5px solid rgba(0, 0, 0, 0.1);" class="solid bg-default">
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                      <div>
                        <button (click)="changeStep(currentStepBs, 'back')" style="width: 10rem; margin: 0 auto" type="button" class="btn btn-block btn-default mb-2">
                          Back
                        </button>
                      </div>
                      <div>
                        <button (click)="changeStep(currentStepBs, 'forward')" style="width: 10rem; margin: 0 auto" type="button" class="btn btn-block btn-default mb-2">
                          Send
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- Start forgotPasswordForm -->
                </ng-container>
              </div>
              <div>
                <img style="max-width: 8rem" src="assets/brand/logo/Tackon_Full_Color_Logo.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

